@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Light'), url('fonts/cleanvertising-light.woff2') format('woff2'), url('fonts/cleanvertising-light.woff') format('woff'), url('fonts/cleanvertising-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Black'), url('fonts/cleanvertising-black.woff2') format('woff2'), url('fonts/cleanvertising-black.woff') format('woff'), url('fonts/cleanvertising-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
  font-family: Cleanvertising, serif;
}

table.iksweb {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
}

table.iksweb,
table.iksweb td,
table.iksweb th {
  border: 1px solid #0050be;
}

table.iksweb td,
table.iksweb th {
  min-height: 35px;
  padding: 3px 3px 3px 6px;
  width: 30px;
  height: 35px;
}

table.iksweb th {
  color: #fff;
  font-weight: normal;
}

.table {
  margin-inline: 10%;
  overflow: hidden;
  overflow-x: scroll;
  color: #67a3ff;
  font-weight: bold;
}
.main, h1 {
  text-align: center;
}
input, select {
  margin-bottom: 14px;
  margin-inline: auto;
  display: block;
}
input {
  background-color: #67a3ff;
  width: 20%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

select {
  background-color: #67a3ff;
  width: 25%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  appearance: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  color: #3587ff;
  font-size: 36px;
  text-transform: uppercase;
}

p {
  text-align: center;
  margin-inline: 10%;
  font-size: 18px;
  color: #0050be;
}
.circle {
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3587ff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.circle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  color: #e2e2e2;
  font-size: 24px;
  font-weight: bold;
}

.circle:hover {
  transform: scale(90%);
}

.circle.clicked {
  background-color: #e2e2e2;
}

.circle.clicked > .circle-content > .text {
  color: #3587ff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 250px;
  height: 30px;
  color: transparent;
  background: transparent;
}

@media screen and (max-width: 1020px) {
  input {
    width: 70%;
  }
  select {
    width: 75%;
  }
}
