<div class="circle" [class.clicked]="priceMultiplier === 1" id="myCircle" (click)="changeCurrency()">
  <div class="circle-content">
    <span class="text">{{currency}}</span>
  </div>
</div>
<div class="main">
  <form>
    <h1>Калькулятор разлоков</h1>
    <p>Выберите очки</p>
    <select name="glasses" (change)="recountTable()" [(ngModel)]="chosenGlasses">
      <option *ngFor="let glass of glasses" value="{{glass.name}}">{{glass.name}}</option>
    </select>
    <p>Выберите начало периода использования</p>
    <input name="startUse" (change)="recountTable()" type="date" [(ngModel)]="start" max="{{finish}}">
    <p>Выберите конец периода использования</p>
    <input name="endUse" (change)="recountTable()" type="date" [(ngModel)]="finish" [disabled]="!start" min="{{start}}">
    <p>Выберите дни, которые Вы пропустите, выбирая пункт "Добавить". Не рекомендую пропускать дни, т.к. это не выгодно. Можете убедится в этом, используя таблицу.</p>
    <select id="skipDays" name="skipDay" [(ngModel)]="skipDay">
      <option value="Добавить">Добавить</option>
    </select>
    <input name="dateSkip" type="date" [(ngModel)]="skipDayValue" [disabled]="skipDay!='Добавить'" (change)="addSkipDay()">
    <p>!!! При пропуске 3ех дней подряд, очки ломаются и смогут быть отремонтированы только за 70% от их стоимости !!!</p>
  </form>
</div>
<h1>Вы заработаете {{sumGot | number:'1.0-2'}} {{currency}}</h1>
<p>В таблице вы можете явно видеть как разбиваются ваши разлоки, в зависимости от соответствующего показателя по дням. Также можете изучить вариант пропуска дней в целях получения снапсов из заблокированного кошелька и увидеть как это повлияет на будущий доход.</p>
<div class="table">
  <table class="iksweb">
    <tbody>
      <tr>
        <td>Дата</td>
        <td [attr.colspan]="dates.length">Разбив разлока</td>
        <td>Заработок (1=100%)</td>
        <td>Заработок ({{currency}})</td>
        <td>Чистыми</td>
      </tr>
      <tr *ngFor="let date of dates">
        <td>{{date.date}}</td>
        <ng-container *ngFor="let date2 of dates">
          <td class="row{{date.id}}" *ngIf="date.date==date2.date">{{date.unlockPercent}}</td>
          <ng-container *ngIf="date.date!=date2.date">
            <td class="row{{date.id}}" *ngIf="date2.id < date.id && date.id-date2.id < +(date2.amountToUnlock/date2.unlockPercent | number:'1.0-0')!">{{date2.unlockPercent}}</td>
            <td *ngIf="date2.id > date.id || date.id-date2.id >= +(date2.amountToUnlock/date2.unlockPercent | number:'1.0-0')!"></td>
          </ng-container>
        </ng-container>
        <td id="sum{{date.id}}"></td>
        <td id="sumSNPS{{date.id}}"></td>
        <td id="sumFixed{{date.id}}"></td>
      </tr>
    </tbody>
  </table>
</div>
<p>Исходные данные и понимание принципа работы были взяты из официальных ресурсов, связанных с Snaps, а также из личного опыта. Не стоит полностью полагаться на данные представленные выше. Все создано любителем, не являющимся разработчиком проекта. Если есть рекомендации по доработке или исправлению - пишите в тг: @vladrusak</p>
